/* created by ignurof with mobile first (320x480px) */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
}

/* General */

body {

}

/* Header */

header {
    padding: 2rem 2rem 0 2rem;
    text-align: center;
}

h1 {
    font-size: 240%;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    border-top: 2px solid black;
}

footer > ul {
    display: flex;
}

/* Styling classes */

.action-box {
    background-color: black;
    color: white;
    padding: 1rem;
}

.action-box > form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

.action-box > form > label {
    position: relative;
    right: 2.2rem;
}

.action-box > form > input[type=text] {
    border: 0;
    height: 2rem;
    width: 70%;
    margin-bottom: 3rem;
}

.action-box > form > button {
    font-size: 240%;
    width: 60%;
    text-transform: uppercase;
}

/* Responsiveness */
