/* created by ignurof with mobile first (320x480px) */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
}

/* General */

:root {
    --hover-color: #9ede2f;
    --cta-color: #e39d2d;
    --att-color: #e3392d;
    --footer-color: #CADEEE;
    --bg-color: #F2F9FE;
    --dark-color: #232323;
}

html, body {
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-color);
}

button {
    cursor: pointer;
}

/* Header */

header {
    padding: 2rem 2rem 0 2rem;
    text-align: center;
}

header > a {
    text-decoration: none;
    color: var(--dark-color);
}

h1 {
    font-size: 240%;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

/* Footer */

footer {
    border-top: 2px solid var(--dark-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--footer-color);
    margin-top: auto;
}

footer > ul {
    display: flex;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    list-style: none;
    justify-content: center;
}

footer > ul li a {
    font-size: 200%;
    color: var(--dark-color);
    margin: 1rem 2rem 1rem 2rem;
}

footer p {
    font-size: 60%;
}

footer > button {
    margin: 0.2rem 0 2rem 0;
    background-color: var(--dark-color);
    color: white;
    cursor: pointer;
    padding: 0.4rem;
}

/* Styling classes */

.action-box {
    background-color: var(--dark-color);
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 1rem;
}

.action-box > form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    width: 100%;
}

.action-box > form > label {
    text-align: center;
}

.action-box > form > input[type=text] {
    border: 0;
    height: 2rem;
    width: 50%; 
}

.action-box button {
    font-size: 240%;
    text-transform: uppercase;
    background-color: var(--cta-color);
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    border: 0;
}

.action-box > p {
    margin: 1rem 0;
    font-weight: bold;
    text-align: center;
    font-size: 80%;
}

.action-box > a {
    margin: 3rem;
    background-color: var(--cta-color);
    color: white;
    width: 70%;
    text-align: center;
    font-size: 160%;
    text-decoration: none;
    padding: 1rem;
    border-radius: 2rem;
}

.action-box fieldset {
    width: 100%;
    margin-bottom: 2rem;
    text-align: center;
    border: 0;
    display: inherit;
}

.action-box fieldset section {
    width: 50%;
    text-align: center;
    display: inherit;
    flex-direction: column;
}

.action-box fieldset label {
    margin: 0 auto;
}

.action-box #genre-select {
    width: 100%;
}

.action-box #genre-select > select {
    width: 50%;
    margin-bottom: 1rem;
    font-size: 140%;
    text-align: center;
}

.error {
    visibility: hidden;
    margin: 1rem 0 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.error > span {
    color: red;
    font-weight: bold;
    margin-right: 0.4rem;
}

#genre-select {
    margin-bottom: 2rem;
    text-align: center;
}

#regenerate-btn {
    margin: 2rem 0;
    font-size: 200%;
}

#tryagain-btn {
    margin: 0 0 1rem 0;
    font-size: 140%;
    background-color: var(--att-color);
}

#generator-view > form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#generator-view > form fieldset section {
    display: flex;
    align-items: center;
}

#generator-view > form fieldset input {
    width: 100%;
}

#contact-view > p {
    font-weight: normal;
}

#contact-view > form {
    display: flex;
    flex-direction: column;
}

#contact-view > form > label {
    width: 100%;
}

#contact-view > form > textarea {
    width: 60%;
    height: 4rem;
}

#contact-view > #contact > .error {
    margin: 0.6rem 0 0.8rem 0;
}

#result-view > h2 {
    text-align: center;
}

form input {
    max-width: 60%;
    height: 2rem;
}


/* Page views need to be hidden from the start */
/* JS will handle making them visible again */
#generator-view {
    display: none;
}

#result-view {
    display: none;
}

#contact-view {
    display: none;
}

/* Responsiveness */
@media screen and (min-width: 500px) {
    .action-box {
        width: 70%;
    }

    form input {
        max-width: 40%;
    }

}

@media screen and (min-width: 700px) {
    .action-box {
        width: 60%;
    }
    
    form input {
        max-width: 30%;
    }

}

@media screen and (min-width: 900px) {
    .action-box {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .action-box {
        width: 40%;
    }
    
    form input {
        max-width: 25%;
    }

}

@media screen and (min-width: 1800px) {
    .action-box {
        width: 30%;
    }

}
